body {
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}
.container {
  padding-bottom: 10%;
}
.Título {
  text-align: center;
  padding-top: 20px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.smaller-image {
  width: 150px;
  float: left;
  margin-right: 20px;
}
.navbar {
  width: 100%;
}
.mode {
  margin-top: 4vh;
  display: flex;
  margin-left: 36vw;
  padding-bottom: 6vh;
  display: flex;
  gap: 16vw;
}

.imagemLogoP {
  overflow: hidden;
  /* margin-right: -30vw; */
}

body.dark {
  background: #292c35;
  color: white;
}

.checkbox {
  opacity: 0;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 5px;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
  margin-left: 0.5vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #e1a24c;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 9px 18px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #f7d66b;
}

.tamanhoFooterP {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e1a24c;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
  z-index: 9999;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mode {
    margin-top: 4vh;
    display: flex;
    margin-left: 8vw;
    padding-bottom: 6vh;
  }

  .imagemLogoP {
    overflow: hidden;
    margin-right: -30vw;
  }

  .alturaPaginaP {
    overflow: hidden;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
  .mode {
    margin-top: 4vh;
    display: flex;
    margin-left: 8vw;
    padding-bottom: 6vh;
  }

  .imagemLogoP {
    overflow: hidden;
    margin-right: -30vw;
  }

  .alturaPaginaP {
    overflow: hidden;
  }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1200px) {
  .mode {
    margin-top: 4vh;
    display: flex;
    margin-left: 16vw;
    padding-bottom: 6vh;
  }

  .imagemLogoP {
    overflow: hidden;
    margin-right: -18vw;
  }

  .alturaPaginaP {
    overflow: hidden;
  }
}
